In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [41]:
print(range(5))

range(0, 5)

In [42]:
fruits = ['apple', 'orange', 'grapes', 'pineapple']

for fruit in fruits:
    print(fruit)

apple
orange
grapes
pineapple

In [49]:
fruits[:-1]

['apple', 'orange', 'grapes']

In [58]:
tuple = (1,2,3,4,6)
print(tuple)

(1, 2, 3, 4, 6)

In [2]:
list = [1,3,4,"anoop",3.14,True]
print((list))

[1, 3, 4, 'anoop', 3.14, True]

In [3]:
list.append("hai")
print(list)

[1, 3, 4, 'anoop', 3.14, True, 'hai']

In [4]:
list.remove("anoop")
print(list)

[1, 3, 4, 3.14, True, 'hai']

In [5]:
print(list[2:])

[4, 3.14, True, 'hai']

In [8]:
fruits = ["apple","orange","grapes","kiwi"]

for index, fruits in enumerate(fruits):
    print(index, fruits)

0 apple
1 orange
2 grapes
3 kiwi

In [9]:
list = []

for i in range(10):
    list.append(i**2)
print(list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
list = [1,2,3,4,5,1,2]
tuple = (1,2,3,4,5,1,2)
set = {1,2,3,4,5,1,2}

print(list)
print(tuple)
print(set)

[1, 2, 3, 4, 5, 1, 2]
(1, 2, 3, 4, 5, 1, 2)
{1, 2, 3, 4, 5}

In [18]:
list.append(7)
print(list)



set.add(7)
print(set)

[1, 2, 3, 4, 5, 1, 2, 7, 7, 7, 7, 7]
{1, 2, 3, 4, 5, 7}

In [26]:
#using Buildin functions

numbers = [10,20, 30, 40, 50]

largest = max(numbers)
smallest = min(numbers)

print("Largest number:",largest)
print("Smallest number:", smallest)

Largest number: 50
Smallest number: 10

In [35]:
#without build in functions

numbers = [10,20,30,40,50]

largest = numbers[0]
smallest = numbers[0]

for num in numbers:
    if num > largest:
        largest = num
    if num < smallest:
        smallest = num

print("largest number:", largest)
print("smallest number:", smallest)

largest number: 50
smallest number: 10

In [32]:
set = {}

dict = {}

print(type(set))
print(type(dict))

<class 'dict'>
<class 'dict'>

In [40]:
a = 1
b = 2

a,b = b,a

print(a)
print(b)

2
1

In [41]:
text = "this is my book"

reversed_text = ''.join(text.split()[::-1])
print("Reversed string:",reversed_text)

Reversed string: bookmyisthis

In [43]:
text = "I am a Data scientist"

print(text.split()[3][::-1])

ataD

In [ ]:
# Remove duplicate elements from the List


nums = [1,5,2,3,4,4,5]

def remove_duplicates(nums):
    unique_nums = []

    for num in nums:
        if num not in unique_nums:
            unique_nums.append(num)
    return unique_nums

unique = remove_duplicates(nums)
print(unique)

# Time complexity : O(n2)

[1, 5, 2, 3, 4]

In [ ]:
nums = [1,5,2,3,4,4,5]

def remove_duplicates(nums):
    unique_nums = []
    seen = set()
    
    for num in nums:
        if num not in seen:
            unique_nums.append(num)
            seen.add(num)
    return unique_nums


unique = remove_duplicates(nums)
print(unique)

# Time complexity : O(n)

[1, 5, 2, 3, 4]

In [6]:
nums = [1,5,2,3,4,4,5]

def remove_duplicates(nums):
    seen = []

    for num in nums:
        if num not in seen:
            seen.append(num)
    return seen

result = remove_duplicates(nums)
print(result)

[1, 5, 2, 3, 4]

In [ ]:
# Quick Sort

nums = [2,0,2,1,1,0]

def quick_sort(nums):
    low, mid, high = 0, 0, len(nums) - 1

    while mid <= high:
        if nums[mid] == 0:
            nums[low], nums[mid] = nums[mid], nums[low]
            low += 1
            mid += 1
        elif nums[mid] == 1:
            mid += 1
        else:
            nums[mid], nums[high] = nums[high], nums[mid]
            high -= 1

    return nums

result = quick_sort(nums)
print(result)

# Time complexity: O(n) — each element is checked once
# Space complexity : O(1) — in-place, constant extra memory

[0, 0, 1, 1, 2, 2]

In [4]:
arr = [1,2,3,2,1]

def contain_duplicates(arr):
    seen = set()

    for num in arr:
        if num in seen:
            return True
        else:
            seen.add(num)
    
    return False

result = contain_duplicates(arr)
print(result)

True

In [10]:
# Anagram problem

s = "malayalam"
t ="malayalam"

from collections import Counter

def anagrams(s, t):
    counter_s = Counter(s)
    counter_t = Counter(t)

    return counter_s == counter_t

result = anagrams(s, t)
print(result)

True

In [11]:
from collections import Counter

s = "Rat"
counter_s = Counter(s)
print(counter_s)

Counter({'R': 1, 'a': 1, 't': 1})

In [6]:
def formatted_name(first, last):
    full_name = f"{first} {last}"
    return full_name.title()

In [10]:


class Student:
    def __init__(self, name, age, course):
        self.name = name
        self.age = age
        self.course = course

    def display(self):
        print(f"Name:{self.name}, Age:{self.age}, Course:{self.course}")


s1 = Student("Anoop", 25, "Data Science")
s2 = Student("Zam", 27, "AI")

s1.display()
s2.display()

Name:Anoop, Age:25, Course:Data Science
Name:Zam, Age:27, Course:AI

In [2]:


def valid_anagram(s, t):
    d ={}

    for i in s:
        if i in d:
            d[i] += 1
        else:
            d[i] = 1

    for i in t:
        if i not in d:
            return False
        elif d[i] == 1:
            del d[i]
        else:
            d[i] -= 1

    return not d


s = "anagram"
t = "nagaram"
print(valid_anagram(s, t))

True

In [2]:
arr = [1,2,3]

def counting_elements(arr):
    s = set(arr)
    count = 0

    for x in arr:
        if x+1 in s:
            count += 1

    return count

result = counting_elements(arr)
print(result)

2