In [ ]:
def find_closest_number(nums):
    nums =

1994

In [1]:
a_list = ['a', 'b', 'c']
b_list = [1, 2, 3]
new_list = a_list + b_list
print(new_list)

['a', 'b', 'c', 1, 2, 3]

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [41]:
print(range(5))

range(0, 5)

In [42]:
fruits = ['apple', 'orange', 'grapes', 'pineapple']

for fruit in fruits:
    print(fruit)

apple
orange
grapes
pineapple

In [49]:
fruits[:-1]

['apple', 'orange', 'grapes']

In [52]:
arr = [2,4,6,7,8,9]
print(arr)

[2, 4, 6, 7, 8, 9]

In [57]:
arr[0] = 3
print(arr)

[3, 4, 6, 7, 8, 9]

In [58]:
tuple = (1,2,3,4,6)
print(tuple)

(1, 2, 3, 4, 6)

In [2]:
list = [1,3,4,"anoop",3.14,True]
print((list))

[1, 3, 4, 'anoop', 3.14, True]

In [3]:
list.append("hai")
print(list)

[1, 3, 4, 'anoop', 3.14, True, 'hai']

In [4]:
list.remove("anoop")
print(list)

[1, 3, 4, 3.14, True, 'hai']

In [5]:
print(list[2:])

[4, 3.14, True, 'hai']

In [8]:
fruits = ["apple","orange","grapes","kiwi"]

for index, fruits in enumerate(fruits):
    print(index, fruits)

0 apple
1 orange
2 grapes
3 kiwi

In [9]:
list = []

for i in range(10):
    list.append(i**2)
print(list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
list = [1,2,3,4,5,1,2]
tuple = (1,2,3,4,5,1,2)
set = {1,2,3,4,5,1,2}

print(list)
print(tuple)
print(set)

[1, 2, 3, 4, 5, 1, 2]
(1, 2, 3, 4, 5, 1, 2)
{1, 2, 3, 4, 5}

In [18]:
list.append(7)
print(list)



set.add(7)
print(set)

[1, 2, 3, 4, 5, 1, 2, 7, 7, 7, 7, 7]
{1, 2, 3, 4, 5, 7}

In [26]:
#using Buildin functions

numbers = [10,20, 30, 40, 50]

largest = max(numbers)
smallest = min(numbers)

print("Largest number:",largest)
print("Smallest number:", smallest)

Largest number: 50
Smallest number: 10

In [35]:
#without build in functions

numbers = [10,20,30,40,50]

largest = numbers[0]
smallest = numbers[0]

for num in numbers:
    if num > largest:
        largest = num
    if num < smallest:
        smallest = num

print("largest number:", largest)
print("smallest number:", smallest)

largest number: 50
smallest number: 10

In [32]:
set = {}

dict = {}

print(type(set))
print(type(dict))

<class 'dict'>
<class 'dict'>

In [40]:
a = 1
b = 2

a,b = b,a

print(a)
print(b)

2
1

In [41]:
text = "this is my book"

reversed_text = ''.join(text.split()[::-1])
print("Reversed string:",reversed_text)

Reversed string: bookmyisthis

In [43]:
text = "I am a Data scientist"

print(text.split()[3][::-1])

ataD

In [ ]:
# Remove duplicate elements from the List


nums = [1,5,2,3,4,4,5]

def remove_duplicates(nums):
    unique_nums = []

    for num in nums:
        if num not in unique_nums:
            unique_nums.append(num)
    return unique_nums

unique = remove_duplicates(nums)
print(unique)

# Time complexity : O(n2)

[1, 5, 2, 3, 4]

In [ ]:
nums = [1,5,2,3,4,4,5]

def remove_duplicates(nums):
    unique_nums = []
    seen = set()
    
    for num in nums:
        if num not in seen:
            unique_nums.append(num)
            seen.add(num)
    return unique_nums


unique = remove_duplicates(nums)
print(unique)

# Time complexity : O(n)

[1, 5, 2, 3, 4]

In [6]:
nums = [1,5,2,3,4,4,5]

def remove_duplicates(nums):
    seen = []

    for num in nums:
        if num not in seen:
            seen.append(num)
    return seen

result = remove_duplicates(nums)
print(result)

[1, 5, 2, 3, 4]